.card {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    background: #202c74;
    border: 1px solid rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(1px);
    padding-bottom: 2rem;
    height: 100%;
}