
body {
  margin: 0;
}
p {
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
}

td {
  font-family: "Roboto", sans-serif;
}

th {
  font-family: "Roboto", sans-serif;
}